/* /* .container div{
    background-color: blueviolet;
}
.ab{
    grid-area: a
}
.bb{
     grid-area: b
}
.cb{
    grid-area: c
}

.db{
    grid-area: d
}

.eb{
    grid-area: e
}

.fb{
    grid-area: f
}
.container{
    background-color: black;
  
    /* display: grid; */
    /* display: inline-grid; */
    /* display: grid;
    grid-gap: 20px;
    /* grid-template-columns: 100px 400px; */
    /* grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px); */
    /* align-items: center; */
    /* justify-content: center;
    justify-content: space-around;
    text-align: center;
    */
   /* padding: 10px;
    
    grid-template-areas: 'a  b  c'
                        'd  e  f'
                      
   
/* } */ 
/* .ag{
    width: 600px;
    height: 400px;
} */
/* @keyframes style1{
    from{
        background-color: blue;
    }
    to{
        background-color: blueviolet;
    }
}
@keyframes slide{
    0%{
        background-color: red;
    }
    20%{
        background-color: rgb(red, green, blue);
    }
    30%{
        background-color: rgba(red, green, blue, alpha);
    }
    50%{
        background-color: royalblue;
    }
    70%{
        background-color: saddlebrown;
    }
    90%{
        background-color: rebeccapurple;
    }
    100%{ */
        /* background-color: rgba(red, green, blue, alpha);
    }
} */
/* #animation{
    width: 400px;
    height: 400px;
    background-color: red;
    animation-name: style1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#animation{
    width: 400px;
    height: 400px;
    background-color: red;
    animation-name:slide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes slide1{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
} */
/* https://jolly-kalam-23776e.netlify.app/albumlayout/ */
/* #animation2{ */

    /* width: 100px;
    height: 100x;
    position: relative;
    background-color: red;
    animation: slide1 2s infinite;
    
    
} */


body{
    background-image: linear-gradient(
        110deg, #f93d66, #6d47d9);
} 
 .albums{
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
    display: grid;
    column-gap: 18px;
    padding: 20px;
    row-gap: 10px;
    
    
} 
.album{
    background: rgba(255,255,255,0.2);
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 250px 1fr;
    grid-gap: 10px;
    align-items: center;
    position: relative;
    width: 390px;

}
.netwok{
    width: 100%;
}

 
 



/* @keyframes slide2 {
    0%{
        background-color: red;
        left: 0px;
        top: 0px;
        text-align: center;
        border-radius: 10%;
    }
    25%{
        background-color:yellow;
        left: 200px;
        top: 0px;
        text-align: end;
        border-radius: 20%;
    }
    50%{
        background-color: blue;
        left: 200px;
        top: 200px;
        text-align: left;
        border-radius: 30%;
    }
    75%{
        background-color: brown;
        left: 0px;
        top:200px;
        text-align: start;
        border-radius: 40%;
    }
    100%{
        background-color: hotpink;
        left: 0px;
        top: 0px;
        text-align: inherit;
        border-radius: 50%;
    }

}
#toy{
    width: 400px;
    height: 206px;
    position:relative;
    animation: slide2 25s infinite;
   

} */

   













